            /*-------------Botones-------------*/
Button {
    -fx-background-color: #008287;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 2;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 18px;
    -fx-background-radius: 10 10 10 10;
    -fx-border-radius: 10 10 10 10;
}
Button:hover{
    -fx-cursor: HAND;
}
Button.btnEntrar {
    -fx-background-color: #609d88;
}
Button.btnLogout {
    -fx-background-color: #cb6f6f;
}
Button.btnAtras {
    -fx-background-color: #609d88;
}
Button.btnEntrar:hover {
    -fx-background-color: #40695b;
}
Button.btnLogout:hover {
    -fx-background-color: #8f4f4f;
}
Button.btnAtras:hover {
    -fx-background-color: #40695b;
}
            /*-------------Tablas-------------*/
.root .table-view{
    -fx-control-inner-background: #97c7b8;
    -fx-border-width: 0px;
}

TableView.table-view{
    -fx-background-color: #97c7b8;
}

#tablaPedidos{
    -fx-border-style: none;
    -fx-border-color: transparent;
    -fx-border-width: 0px;
}
.table-row-cell .table-cell {
    -fx-border-width: 0px;
}
.table-cell {
    -fx-padding: 10px;
    -fx-text-fill: black;
    -fx-alignment: center center;
}
.table-row-cell:even{
    -fx-background-color: rgb(208, 224, 218);
}
.table-row-cell:odd{
    -fx-background-color: rgb(219, 232, 224);
}
.table-row-cell:hover {
    -fx-background-color: rgb(107, 152, 136);
}
#tablaPedidos:hover {
    -fx-cursor: HAND;
}
.table-row-cell:empty, .table-cell:empty:hover {
    -fx-background-color: #97c7b8;
    -fx-border-width: 0px;
    -fx-border-color: #97c7b8;
    -fx-cursor: DEFAULT;
}
.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}
.fondo{
    -fx-background-color: rgb(151, 199, 184);
    -fx-border-width: 0px;

}